.image-block {
    display: block;
    flex-wrap: wrap;
  }
  
  .carousel-shadow {
    box-shadow: 10px 3px 10px 1px rgba(204, 204, 204, 1);
  }
  

.nav-item:hover {
  transform: scale(1.1);
  
}

#weather{
  padding: 100px;
}

.card-title:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.14), 0 6px 6px;
  transform: scale(1.02);
}